@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image: url(../../Content/audience.jpg)">
    <h1 style="color: white">Vidly</h1>
    <p class="lead" style="color:white ">Welcome to Vidly, your online movie rental solution!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Become a customer</h2>
        <p>
            Whether you're a casual fan or a cinephile, you'vefound the place where we cater to you! Vidly customers have access to our catalogue of movies - new films are being added every day.
        </p>
        <p><a class="btn btn-outline-primary" href="http://localhost:62132/Customers/New">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pick Your Plan</h2>
        <p>With options like Pay As You Go, or recurring subscriptions (Monthly, Quarterly, Annually), you can be sure that Vidly has a plan that will fit your viewing style!</p>
        <p><a class="btn btn-outline-primary" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Find A Movie</h2>
        <p>Sign up and get instant access to our extensive library of movies. Search by release date or genre, and find the perfect movie for your next movie night!</p>
        <p><a class="btn btn-outline-primary" href="http://localhost:62132/Movies">Learn more &raquo;</a></p>
    </div>
</div>