@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image: url(../../Content/audience.jpg)">
    <h1 style="color: #CAFAFE">Vidly</h1>
    <p class="lead" style="color:#CAFAFE ">Welcome to Vidly, your online movie rental solution!</p>
    <p><a href="http://localhost:62132/Home/About" class="btn btn-lg" style="background-color:#FC4445; color: #CAFAFE">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 style="color: #55BCC9">Become a customer</h2>
        <p style="color: #55BCC9">
            Whether you're a casual fan or a cinephile, you'vefound the place where we cater to you! Vidly customers have access to our catalogue of movies - new films are being added every day.
        </p>
        <p><a class="btn" style="background-color:#FC4445; color:#CAFAFE"href="http://localhost:62132/Customers/New">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="color: #55BCC9">Pick Your Plan</h2>
        <p style="color: #55BCC9">With options like Pay As You Go, or recurring subscriptions (Monthly, Quarterly, Annually), you can be sure that Vidly has a plan that will fit your viewing style!</p>
        <p><a class="btn" style="background-color:#FC4445; color:#CAFAFE" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="color: #55BCC9">Find A Movie</h2>
        <p style="color: #55BCC9">Sign up and get instant access to our extensive library of movies. Search by release date or genre, and find the perfect movie for your next movie night!</p>
        <p><a class="btn" style="background-color:#FC4445; color:#CAFAFE" href="http://localhost:62132/Movies">Learn more &raquo;</a></p>
    </div>
</div>